.location-modal{
    width: 100vw;
    height: 100vh;
}
.location-selection-modal {
    padding-top: 4%;
}

.location-selection-modal .cancel-icon {
    fill: #BBBBBB;
    width: 50.54px;
    height: 40.19px;
}

.location-selection-modal .location-heading-and-input {
    margin-left: 3%;
    margin-top: 4%;
}

.location-selection-modal .location-heading-and-input h2 {
    font-weight: 500;

}

.location-selection-modal .location-heading-and-input .location-icon {
    width: 31.17px;
    height: 37.78px;
    

}

.location-selection-modal .location-heading-and-input input {
    font-size: 80px;
    font-weight: bold;
    margin-top: 4%;
    border-bottom: 1px solid #000929;
    width: 100%;

}
